/* Import pixelated font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* declare some variables for the colors */
:root {
  --console-color: #5bf870;
  --console-bg: #031e11;
  --monitor-width: 1.2rem;
}

html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trivia {
  display: grid;
  grid-template-areas:
    'title round'
    'trivia trivia';
}

h1 {
  grid-area: title;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 2rem;
}

h1::after {
  content: ' ';
  display: block;
  height: 0.3rem;
  width: 90%;
  margin: 1rem;
  border-radius: 3px;
  background: var(--console-color);
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-area: trivia;
  text-align: center;
  border: none;
}

.question {
  font-size: 2rem;
}

ul.answer-list {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  justify-content: center;
  gap: 1rem;
}

.answer-list > li {
  list-style-type: none;
  text-transform: uppercase;
}

.answer-list > li:hover {
  background: var(--console-color);
  color: var(--console-bg);
}
/* prettier-ignore */
li > input[type=radio]:checked + li {
  background: var(--console-color);
  color: var(--console-bg);
}

/* html {
  width: 100%;
  height: 100%;
}
body {
  background: rgb(66, 0, 87);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.trivia-wrapper {
  background: #ffff;
  width: 50%;
  margin: 1rem 0 0 0;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.title {
  font-size: 2.3rem;
}

.trivia {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  flex-grow: 1;
  font-size: 2rem;
}

.answer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

li {
  list-style: none;
  font-size: 1.3rem;
}

button.new-question {
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0;
  background: darkblue;
  color: #ffffff;
  font-size: 2rem;
}
 */
